@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


@import url(https://100dayscss.com/codepen/css/font-awesome.min.css);

$speed: 5s;
// use only the available space inside the 400x400 frame
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
     border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
    border-radius: 6px;
    background: #4c4c4c;
    color: #fff;
    font-size: 12px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    width: 212px;
    height: 212px;
    border-radius: 50%;
    background: #242424;
    border: 7px solid #3a3a3a;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.date { 
    position: absolute;
    top: 68px;
    width: 100%;
}

.time {
    position: absolute;
    top: 80px;
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    margin: 4px 0;
}

.beat {
    position: absolute;
    top: 129px;
    left: 57px;
    
    span {
        color: #ee1d1d;
        font-size: 10px;
        float: left;
        margin-top: 1px;
        margin-right: 4px;
        animation: beat .9s ease-in-out infinite;
    }
}

.health {
    position: absolute;
    top: 129px;
    right: 55px;
}

.spinner {
    position: absolute;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    top: 5px;
    left: 5px;

    circle {
        stroke: #f85b5b;
        stroke-width: 3px;
        fill: none;
        stroke-dasharray: 625;
        animation: spinner 5s linear infinite;
        transform-origin: center center;
        transform: rotate(-90deg);
    }
}

// animation

@keyframes spinner {
    from {
        stroke-dasharray: 625;
        transform: rotate(-90deg) scaleY(1);
    }
    100% {
       stroke-dasharray: 0; 
       transform: rotate(-90deg) scaleY(1);
    }
}