@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat:ital,wght@0,300;1,300&family=Sacramento&display=swap');

body {
    margin: 0;
    color: #40514e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 50px, auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66bfbf;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 2rem 0 0;
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

a {
    color: #11999e;
    text-decoration: none;
    margin: 12px 20px;
}
a:hover {
    color: #f0f8ff;
    cursor: pointer;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #f0f8ff;
}

.hero-img {
    margin: 0 auto 100px;
}

.skill-img {
    position: relative;
    width: 25%;
    float: left;
    margin-right: 30px;
}


/* middle section styling */
.middle-container {

}
.pro {
    text-decoration: underline;
}

.intro {
    margin: 0 auto 60px;
    font-weight: 600;
    line-height: 24px;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin-bottom: 60px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skill-row {
    text-align: left;
    width: 50%;
    margin: 60px auto;
    line-height: 2;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 300px;
}

.contact-me {
    display: flex;
    flex-direction: column;
    width: 100%;
}

p .contactMe {
    margin-bottom: 40px;
    
}

.btn {
    background-color: #11999e;
    color: white;
    padding: 12px 20px;
    margin: 40px auto;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.btn:hover {
    color: #11999e;
    border: 1px solid #11999e;
    background: white;
}

/* bottom section styling */
.bottom-container {
    background: #66bfbf;
    padding: 50px 0 20px;   
}
