@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,500,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #1A2238;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: relative;
  height: 400px;
  width: 400px;
}

.data {
  height: 90px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.moon {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: #F6EDBD;
  box-shadow: 0 0 10px 0 #F6EDBD;
  position: relative;
  overflow: hidden;
  border: 2px solid #F6EDBD;
  top: 60px;
  left: 70px;
  -webkit-animation: rise 1.5s ease;
          animation: rise 1.5s ease;
}

.crcl-1, .crcl-3, .crcl-7, .crcl-10, .crcl-8, .crcl-6, .crcl-5, .crcl-4, .crcl-2, .crcl-9 {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background: #ECE1A8;
  position: absolute;
  top: 10px;
  left: 30px;
}

.crcl-2, .crcl-9 {
  top: 15px;
  left: -2px;
}

.crcl-3, .crcl-7, .crcl-10, .crcl-8, .crcl-6, .crcl-5, .crcl-4 {
  top: 20px;
  left: 49px;
  height: 6px;
  width: 6px;
}

.crcl-4 {
  top: 33px;
  left: 15px;
}

.crcl-5 {
  top: 44px;
  left: 30px;
}

.crcl-6 {
  top: 34px;
  left: 45px;
}

.crcl-7, .crcl-10, .crcl-8 {
  top: 14px;
  left: 15px;
  height: 5px;
  width: 5px;
}

.crcl-8 {
  top: 33px;
  left: 33px;
}

.crcl-9 {
  top: 47px;
  left: 50px;
}

.crcl-10 {
  top: 55px;
  left: 20px;
}

.hills {
  position: absolute;
  width: 400px;
  bottom: 0;
  height: 200px;
}

.hill {
  width: 330px;
  height: 330px;
  background: #303C5D;
  border-radius: 50%;
  position: absolute;
}

.hill-1 {
  right: -80px;
  background: #26314F;
}

.hill-2 {
  top: 10px;
  left: -80px;
  background: #26314F;
}

.hill-3 {
  top: 50px;
  left: -120px;
}

.hill-4 {
  top: 50px;
  right: -200px;
}

.hill-5 {
  top: 30px;
  left: 50px;
}

.rains {
  position: absolute;
  height: 310px;
  width: 400px;
  top: 0;
}

.rain {
  position: absolute;
  bottom: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #7FC1F9;
  transform-origin: 50% 100%;
}

.rain::before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  background: #7FC1F9;
  position: absolute;
  top: -2px;
  left: 1px;
  border-radius: 50%;
}

.rain::after {
  content: "";
  display: block;
  height: 10px;
  width: 4px;
  background: #7FC1F9;
  top: -4px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
}

.rain-lg-1, .rain-sm-1, .rain-md-1 {
  left: 304px;
  -webkit-animation: rain-drop 1s linear 0.68s infinite;
          animation: rain-drop 1s linear 0.68s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-2, .rain-sm-2, .rain-md-2 {
  left: 382px;
  -webkit-animation: rain-drop 0.9s linear 1.24s infinite;
          animation: rain-drop 0.9s linear 1.24s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-3, .rain-sm-3, .rain-md-3 {
  left: 391px;
  -webkit-animation: rain-drop 0.9s linear 1.08s infinite;
          animation: rain-drop 0.9s linear 1.08s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-4, .rain-sm-4, .rain-md-4 {
  left: 223px;
  -webkit-animation: rain-drop 1s linear 1.2s infinite;
          animation: rain-drop 1s linear 1.2s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-5, .rain-sm-5, .rain-md-5 {
  left: 61px;
  -webkit-animation: rain-drop 1s linear 0.32s infinite;
          animation: rain-drop 1s linear 0.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-6, .rain-sm-6, .rain-md-6 {
  left: 22px;
  -webkit-animation: rain-drop 1s linear 1.8s infinite;
          animation: rain-drop 1s linear 1.8s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-7, .rain-sm-7, .rain-md-7 {
  left: 147px;
  -webkit-animation: rain-drop 0.9s linear 0.96s infinite;
          animation: rain-drop 0.9s linear 0.96s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-8, .rain-sm-8, .rain-md-8 {
  left: 150px;
  -webkit-animation: rain-drop 1s linear 1.76s infinite;
          animation: rain-drop 1s linear 1.76s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-9, .rain-sm-9, .rain-md-9 {
  left: 84px;
  -webkit-animation: rain-drop 0.9s linear 1.28s infinite;
          animation: rain-drop 0.9s linear 1.28s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-lg-10, .rain-sm-10, .rain-md-10 {
  left: 30px;
  -webkit-animation: rain-drop 1s linear 0.4s infinite;
          animation: rain-drop 1s linear 0.4s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain-md-1 {
  left: 10px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1s linear 0.72s infinite;
          animation: rain-drop 1s linear 0.72s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-1::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-1::after {
  width: 2px;
}

.rain-md-2 {
  left: 109px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1s linear 1.48s infinite;
          animation: rain-drop 1s linear 1.48s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-2::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-2::after {
  width: 2px;
}

.rain-md-3 {
  left: 360px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1s linear 0.92s infinite;
          animation: rain-drop 1s linear 0.92s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-3::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-3::after {
  width: 2px;
}

.rain-md-4 {
  left: 62px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1.1s linear 0.48s infinite;
          animation: rain-drop 1.1s linear 0.48s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-4::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-4::after {
  width: 2px;
}

.rain-md-5 {
  left: 285px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1s linear 0.32s infinite;
          animation: rain-drop 1s linear 0.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-5::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-5::after {
  width: 2px;
}

.rain-md-6 {
  left: 77px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1.1s linear 1.72s infinite;
          animation: rain-drop 1.1s linear 1.72s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-6::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-6::after {
  width: 2px;
}

.rain-md-7 {
  left: 137px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1.1s linear 1.32s infinite;
          animation: rain-drop 1.1s linear 1.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-7::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-7::after {
  width: 2px;
}

.rain-md-8 {
  left: 296px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1s linear 1.48s infinite;
          animation: rain-drop 1s linear 1.48s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-8::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-8::after {
  width: 2px;
}

.rain-md-9 {
  left: 268px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1s linear 1.08s infinite;
          animation: rain-drop 1s linear 1.08s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-9::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-9::after {
  width: 2px;
}

.rain-md-10 {
  left: 219px;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  -webkit-animation: rain-drop 1.1s linear 1.04s infinite;
          animation: rain-drop 1.1s linear 1.04s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-md-10::before {
  height: 8px;
  width: 4px;
}

.rain.rain-md-10::after {
  width: 2px;
}

.rain-sm-1 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.1s linear 1.44s infinite;
          animation: rain-drop 1.1s linear 1.44s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-1::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-1::after {
  width: 2px;
  height: 6px;
}

.rain-sm-2 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.2s linear 1.4s infinite;
          animation: rain-drop 1.2s linear 1.4s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-2::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-2::after {
  width: 2px;
  height: 6px;
}

.rain-sm-3 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.2s linear 1.28s infinite;
          animation: rain-drop 1.2s linear 1.28s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-3::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-3::after {
  width: 2px;
  height: 6px;
}

.rain-sm-4 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.2s linear 1.76s infinite;
          animation: rain-drop 1.2s linear 1.76s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-4::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-4::after {
  width: 2px;
  height: 6px;
}

.rain-sm-5 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.1s linear 1s infinite;
          animation: rain-drop 1.1s linear 1s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-5::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-5::after {
  width: 2px;
  height: 6px;
}

.rain-sm-6 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.2s linear 1.84s infinite;
          animation: rain-drop 1.2s linear 1.84s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-6::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-6::after {
  width: 2px;
  height: 6px;
}

.rain-sm-7 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.2s linear 1.96s infinite;
          animation: rain-drop 1.2s linear 1.96s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-7::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-7::after {
  width: 2px;
  height: 6px;
}

.rain-sm-8 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.1s linear 1.88s infinite;
          animation: rain-drop 1.1s linear 1.88s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-8::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-8::after {
  width: 2px;
  height: 6px;
}

.rain-sm-9 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.1s linear 1.36s infinite;
          animation: rain-drop 1.1s linear 1.36s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-9::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-9::after {
  width: 2px;
  height: 6px;
}

.rain-sm-10 {
  left: random 400px;
  height: 4px;
  width: 4px;
  opacity: 0.3;
  -webkit-animation: rain-drop 1.1s linear 1.56s infinite;
          animation: rain-drop 1.1s linear 1.56s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rain.rain-sm-10::before {
  width: 3px;
  height: 3px;
}

.rain.rain-sm-10::after {
  width: 2px;
  height: 6px;
}

@-webkit-keyframes rain-drop {
  0% {
    transform: translate3D(30px, -320px, 0) rotate(17deg) scaleX(1) scaleY(1);
  }
  80% {
    transform: translate3D(0, 0, 0) rotate(17deg) scaleX(1) scaleY(1);
  }
  100% {
    transform: translate3D(0, 0, 0) rotate(0) scaleX(2.5) scaleY(0);
  }
}

@keyframes rain-drop {
  0% {
    transform: translate3D(30px, -320px, 0) rotate(17deg) scaleX(1) scaleY(1);
  }
  80% {
    transform: translate3D(0, 0, 0) rotate(17deg) scaleX(1) scaleY(1);
  }
  100% {
    transform: translate3D(0, 0, 0) rotate(0) scaleX(2.5) scaleY(0);
  }
}
.data {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
}

.temperature {
  font-size: 45px;
}

.info {
  font-size: 15px;
}

.preview {
  text-align: right;
}
.preview .pev > span {
  font-weight: 500;
  width: 70px;
  display: inline-block;
}

@-webkit-keyframes rise {
  0% {
    transform: translateY(160px);
  }
}

@keyframes rise {
  0% {
    transform: translateY(160px);
  }
}/*# sourceMappingURL=style.css.map */